html {
	font-size: 10px;
	font-family: 'PT Sans', Verdana, Arial, sans-serif;
}
* {
	box-sizing: border-box;
}
html,
body,
.wrapper {
	height: 100%;
}

.wrapper {
}

.button {
	background: transparent;
	border: none;

	&:focus {
		outline: none;
		background-color: none;
	}
}