.main-section {
	height: calc(100% - 5rem);
	position: relative;
	padding-top: 5rem;

	.board {
		position: absolute;
		height: 100%;
		width: 100%;
		padding: 1em;
		opacity: 0;
		display: none;
		transition: opacity 2.2s, display .01s linear .2s;
		overflow-x: hidden;
	}

}

#backlog-radio,
#main-board-radio,
#done-radio {
	display: none;
}

#backlog-radio:checked ~ .main-section #backlog,
#main-board-radio:checked ~ .main-section #main-board,
#done-radio:checked ~ .main-section #done {
	display: block;
	transition: opacity .2s;
	opacity: 1;
}

#backlog-radio:checked ~ .main-header label[for="backlog-radio"],
#main-board-radio:checked ~ .main-header label[for="main-board-radio"],
#done-radio:checked ~  .main-header label[for="done-radio"]{
	opacity: 1;
}
