.task {

	font-size: 1.5em;
	// box-shadow: 0 0 1px rgba(0,0,0,.3);
	border-bottom: 1px solid rgba(0,0,0,.2);
	&._active {

		.task__description {
			height: auto;
		}
	}

	&__title {
		h3 {
			font-size: 1.5em;
			margin: 0;
			padding: .1em 0;
			padding-left: .5em;
			font-weight: 400;
		}
	}

	&__description {
		height: 0;
		overflow: hidden;
		p {
			font-size: 1em;
		}
	}
}