.task {
	.container {
		padding: 0 1em;
	}
	font-size: 1.5em;
	border-bottom: 1px solid rgba(0,0,0,.2);
	margin-bottom: .5em;

	&._active {
		border-color: #f34f30;

		.task__description {
			height: auto;
			width: auto;
			transition: height .5s;
			p {
				white-space: normal;
			}
		}
	}

	// &__title {
	// 	h3 {
	// 		font-size: 1.5em;
	// 		margin: 0;
	// 		padding: .1em 0;
	// 		font-weight: 400;
	// 	}
	// }

	&__description {
		width: 66%;
		cursor: pointer;

		p {
			margin: 0;
			padding: .1em 0;
			font-size: 1.35em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}