.task {
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	.container {
		padding: 0 1em;
	}
	font-size: 1.5em;
	border-bottom: 1px solid rgba(0,0,0,.2);
	margin-bottom: .5em;

	&._active {

		.task__description {
			height: auto;
			width: auto;
			transition: height .5s;
			p {
				white-space: normal;
			}
		}
	}

	&__description {
		cursor: pointer;

		p {
			margin: 0;
			padding: .1em 0;
			font-size: 1.35em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
#agenda {
	.task._active {
		color: $agenda;
	}
}
#todo {
	.task._active {
		color: $todo;
	}
}
#done {
	.task._active {
		color: $done;
	}
}