@import 'parts/variables.scss';
@import 'parts/common.scss';
@import 'parts/header.scss';
@import 'parts/main-section.scss';
@import 'parts/buttons-set.scss';
@import 'parts/task-article.scss';
@import 'parts/calendar-day.scss';
@import 'parts/ghost.scss';
@import 'parts/welcome.scss';
